@import '../../styles/colors.scss';

.task-container {
  &__false {
    display: relative;
    width: 100%;
    min-height: 2rem;
    border-radius: 1.8rem;
    padding: 2rem 1.8rem;
    position: relative;
    background-color: $primary-light;
  }

  &__true {
    display: relative;
    width: 100%;
    min-height: 2rem;
    border-radius: 1.8rem;
    padding: 2rem 1.8rem;
    position: relative;
    background-color: rgb(220, 213, 213);
  }
}

.task-header-container {
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.task-header__title {
  font-size: 2.4rem;
}

.task-description {
  width: 100%;
  word-wrap: break-word;
  margin: 1rem 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
}

.task-autor {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
}

.task-btn-edit {
  background-image: url('../../assets/icons/edit.svg');
  height: 24px;
  width: 24px;
  align-self: center;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  transition: all 0.3s;
  filter: invert(62%) sepia(13%) saturate(621%) hue-rotate(63deg) brightness(95%) contrast(86%);

  &:hover {
    cursor: pointer;
    transform: scale(0.95);
  }
}
