@import '../../styles/index.scss';

.about {
  background: url('../../assets/img/wave1.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -15rem;

  &__container {
    margin: 0 auto;
    padding: 30rem 12rem 25rem;
    max-width: 144rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    font-family: 'Roboto';
    font-style: normal;
    color: $background-dark;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 7rem;
  }

  &__cards {
    display: flex;
    gap: 9.7rem;
    margin-bottom: 8.5rem;
  }
}
