$btn-primary: #84a17d;
$btn-secondary: #dde4e4;
$btn-primary-hover: #6d9f61;
$btn-secondary-hover: #bdc4c4;
$btn-secondary-text: #53837d;

$background-light: #dde4e4;
$background-dark: #153c3c;

$primary-light: #ffffff;
$primary-dark: #153c3c;

$task-header: #84a17d;
