$btn-primary: #84a17d;
$btn-secondary: #dde4e4;

$background-light: #dde4e4;
$background-dark: #153c3c;

$primary-light: #ffffff;
$secondary-light: #d2f1ea;
$primary-dark: #153c3c;
$secondary-dark: #585858;

$task-header: #84a17d;
$card-background: #d2f1ea;
