.container {
  position: sticky;
  top: 0;
  background: transparent;
  height: 100px;
  padding: 30px 80px;
  transition: all 0.3s ease-in-out;
}
.header{
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}
.nav {
  display: flex;
  gap: 3rem;
  height: 40px;
  align-items: center;
  a {
    padding: 0 1rem;
    height: 24px;
    margin-top: 4px;
    box-sizing: border-box;
    color: #54847D;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 0.32px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: #153C3C;
  }
  .isActive {
    color: #153C3C;
    &:hover {
      color: #153C3C;
    }
  }
}
.scroll-header {
  background: #153c3c;
}
.nav-wrapper{
  display: flex;
  gap: 35px;
}
@media (max-width: 990px) {
  .nav {
    display: none;;
  }
  .container{
    padding: 30px 40px;
  }
}
@media (max-width: 400px) {
  .container{
    padding: 30px 10px;
  }
}