.header {
  position: sticky;
  top: 0;
  background: linear-gradient(180deg, #7ec3b0 -2.24%, rgba(245, 250, 255, 0) 78.75%);
  height: 70px;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.nav {
  display: flex;
  gap: 3rem;
  a {
    height: 25px;
    box-sizing: border-box;
    color: #767ead;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: #aec2db;
  }
  .isActive {
    border-bottom: 2px solid #767ead;
    &:hover {
      color: #767ead;
    }
  }
}
.scroll-header {
  background: #153c3c;
}
