.wrapper {
  background: #153c3c;
  padding: 0 0 4rem 0;
}
.footer {
  max-width: 1280px;
  margin: 0 auto;
  background: #153c3c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  span {
    color: #ffffff80;
  }
}
.footer__github-link {
  display: flex;
  gap: 1rem;
  height: 38px;
  width: 200px;
  align-items: center;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.footer__copyrigth {
  color: #54847d;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2;
  text-align: center;
  padding-bottom: 2rem;
}
.footer__rss-link {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
@media (max-width: 1350px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }
}
