@import '../../styles/index.scss';
.task-container {
  min-height: calc(100vh - 248px);
}
.column-container {
  display: flex;
  flex-basis: 32rem;
  gap: 2rem;
  width: 80vw;
  // overflow: auto;
}

.boardheader {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 5.6rem;
  // text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  margin-bottom: 2.3rem;
}
